


<div class="divider"></div>
  <div class="sectionOne">
  <span class="bqstart">“</span>
  <br>
  <br>
        <blockquote>
            <h4 class="quote">Many states can no longer afford to support public education, public benefits, public services without doing someting about the exorbitant costs that mass incarceration have created.</h4><span class="bqend">”</span>
            <h4 class="quote">Bryan Stevenson</h4>
      </blockquote>
  </div>




<div class="sectionTwo">
    <h5 class="center">About The Project</h5>
    <p class="left">Data collection is defined as the process of gathering and measuring information on variables of interest, in an established systematic fashion that enables one to answer stated research questions, test hypotheses, and evaluate outcomes.</p>
    <p class="left">By that definition data collection does not stop when the data has been collected. </p>
    <p class="left">There is real power in making data digestable to the general public. We are collecting more data than ever, but what are we doing with that data?</p>
    <p class="left">This project aims to make data from the Department of Justice, Bureau of Justice Statistics originally housed in mutiple hard to read spreadsheets, easier to understand.</p>
</div>
