
<div class="sectionOne">
    <h5>Total Correction Population By State</h5>

<div>
    <us-map>
        <!-- <map-data state="CA" color="#345" hover-bg-color="#f5f7fa"> -->
            <!-- <pre>{{ctrl.data['CA'] | json}}</pre> -->
        <!-- </map-data> -->

        <!-- <map-data state="WA" color="#f43" hover-bg-color="#white"> -->
            <!-- <pre>{{ctrl.data['WA'] | json}}</pre> -->
        <!-- </map-data> -->
    </us-map>
</div>
<br>
<br>
</div>

<div id="" class='cards-content'>
      <div class="row data-row">


<!--
<div class="row">
      <div class="col s12 m5 l2">
        <div class="card card-panel teal">
          <div class="card-content">
          <div class="card-title">Percent </div>
          <div class="numbers">lots</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col s12 m5 l2">
        <div class="card card-panel teal">
          <div class="card-content">
          <div class="card-title">Percentsomething</div>
          <div class="numbers">lots</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col s12 m5 l2">
        <div class="card-content card-panel teal">
          <div class="card-content">
          <span class="card-title">Percentsomething</span>
          <span class="numbers">lots</span>
        </div>
      </div>
    </div>
  </div>
 -->


    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text"> Did you know?</span>
          <span>Per 100,000 residents in the United States, there are 2,080 people in the criminal justice system.</span>
          <span>That's over 2% of the U.S. population!</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text"> Did you know?</span>
          <span>Per 100,000 residents over the age of 18 in the United States, there are [[[how many peeps]] people in the criminal justice system.</span>
          <span>That's a lot of people in prison, yo.</span>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
          <span class="white-text">Did you know?</span>
          <span>Of those in the criminal justice system, there were [[]] incarcerated.</span>
        </div>
      </div>
    </div>

  </div>
</div>



  <div class="sectionTwo">
    <h5>Race, Gender and Demographics of Persons in Criminal Justice System</h5>
    <p>I will put here race totals, gender totals using graps/datavisualizations</p>
  </div>

 <div class="sectionOne">
    <h5>Noncitizen Prisoners by State</h5>
    <div>
    <us-map>
        <!-- <map-data state="CA" color="#345" hover-bg-color="#f5f7fa"> -->
            <!-- <pre>{{ctrl.data['CA'] | json}}</pre> -->
        <!-- </map-data> -->

        <!-- <map-data state="WA" color="#f43" hover-bg-color="#white"> -->
            <!-- <pre>{{ctrl.data['WA'] | json}}</pre> -->
        <!-- </map-data> -->
    </us-map>
</div>
<br>
<br>
  </div>

   <div class="sectionTwo">
    <h5>Minors in CJS</h5>
    <p>Information for minors in CJS -- no map</p>
  </div>





