  <div class="section sectionOne">
  <span class="bqstart">“</span>
  <br>
  <br>
        <blockquote>
            <h4 class="quote">There is no cost difference between incarceration and an Ivy League education; the main difference is curriculum.</h4><span class="bqend">”</span>
            <h4 class="quote">Paul Hawken</h4>
      </blockquote>
  </div>
  <br>
  <br>
  <br>
<div class="section sectionOne">
<div class=container>
  <div class="row">
  <div class="col s12">
    <h5 class="center-align">Heat Map</h5>
    <h5 class="center-align">Expense to Taxpayer Per Inmate 2012</h5>
    <us-map>
        <map-data state="AL" class="ten" color="#0AD4E5">
            <p>Alabama</p>
            <p>$17,285</p>
        </map-data>

        <map-data state="AZ" class="ten" color="#068B96">
            <p>Arizona</p>
            <p>$24,805</p>
        </map-data>
        <map-data state="AR" class="ten" color="#068B96">
            <p>Arkansas</p>
            <p>$24,391</p>
        </map-data>
        <map-data state="CA" class="ten" color="#033B40">
            <p>California</p>
            <p>$47,421</p>
        </map-data>
        <map-data state="CO" class="ten" color="#05656E">
            <p>Colorado</p>
            <p>$30,374</p>
        </map-data>
        <map-data state="CT" class="ten" color="#011A1C">
            <p>Connecticut</p>
            <p>$50,262</p>
        </map-data>
        <map-data state="DE" class="ten" color="#05656E">
            <p>Delaware</p>
            <p>$32,967</p>
        </map-data>
        <map-data state="FL" class="ten" color="#068B96">
            <p>Florida</p>
            <p>$20,553</p>
        </map-data>
        <map-data state="GA" class="ten" color="#068B96">
            <p>Georgia</p>
            <p>$21,039</p>
        </map-data>
        <map-data state="ID" class="ten" color="#0AD4E5">
            <p>Idaho</p>
            <p>$19,545</p>
        </map-data>
        <map-data state="IL" class="ten" color="#05656E">
            <p>Illinois</p>
            <p>$38,268</p>
        </map-data>
        <map-data state="IN" class="ten" color="#0AD4E5">
            <p>Indiana</p>
            <p>$14,823</p>
        </map-data>
        <map-data state="IA" class="ten" color="#05656E">
            <p>Iowa</p>
            <p>$32,925</p>
        </map-data>
        <map-data state="KS" class="ten" color="#0AD4E5">
            <p>Kansas</p>
            <p>$18,207</p>
        </map-data>
        <map-data state="KY" class="ten" color="#0AD4E5">
            <p>Kentucky</p>
            <p>$14,603</p>
        </map-data>
        <map-data state="LA" class="ten" color="#0AD4E5">
            <p>Louisiana</p>
            <p>$17,486</p>
        </map-data>
        <map-data state="ME" class="ten" color="#033B40">
            <p>Maine</p>
            <p>$46,404</p>
        </map-data>
        <map-data state="MI" class="ten" color="#068B96">
            <p>Michigan</p>
            <p>$28,117</p>
        </map-data>
        <map-data state="MN" class="ten" color="#033B40">
            <p>Minnesota</p>
            <p>$41,364</p>
        </map-data>
        <map-data state="MO" class="ten" color="#05656E">
            <p>Missouri</p>
            <p>$22,350</p>
        </map-data>
        <map-data state="MT" class="ten" color="#05656E">
            <p>Montana</p>
            <p>$30,227</p>
        </map-data>
        <map-data state="NE" class="ten" color="#05656E">
            <p>Nebraska</p>
            <p>$35,950</p>
        </map-data>
        <map-data state="NV" class="ten" color="#068B96">
            <p>Nevada</p>
            <p>$20,656</p>
        </map-data>
        <map-data state="NH" class="ten" color="#05656E">
            <p>New Hampshire</p>
            <p>$34,080</p>
        </map-data>
        <map-data state="NJ" class="ten" color="#011A1C">
            <p>New Jersey</p>
            <p>$54,865</p>
        </map-data>
        <map-data state="NY" class="ten" color="#011A1C">
            <p>New York</p>
            <p>$60,076</p>
        </map-data>
        <map-data state="NC" class="ten" color="#068B96">
            <p>North Carolina</p>
            <p>$29,965</p>
        </map-data>
        <map-data state="ND" class="ten" color="#05656E">
            <p>North Dakota</p>
            <p>$39,271</p>
        </map-data>
        <map-data state="OH" class="ten" color="#068B96">
            <p>Ohio</p>
            <p>$25,814</p>
        </map-data>
        <map-data state="OK" class="ten" color="#0AD4E5">
            <p>Oklahoma</p>
            <p>$18,476</p>
        </map-data>
        <map-data state="PA" class="ten" color="#033B40">
            <p>Pennsylvania</p>
            <p>$42,339</p>
        </map-data>
        <map-data state="RI" class="ten" color="#033B40">
            <p>Rhode Island</p>
            <p>$49,133</p>
        </map-data>
        <map-data state="TX" class="ten" color="#068B96">
            <p>Texas</p>
            <p>$21,390</p>
        </map-data>
        <map-data state="UT" class="ten" color="#068B96">
            <p>Utah</p>
            <p>$29,349</p>
        </map-data>
        <map-data state="VT" class="ten" color="#033B40">
            <p>Vermont</p>
            <p>$49,502</p>
        </map-data>
        <map-data state="VA" class="ten" color="#068B96">
            <p>Virginia</p>
            <p>$25,129</p>
        </map-data>
        <map-data state="WA" class="ten" color="#033B40">
            <p>Washington</p>
            <p>$46,897</p>
        </map-data>
        <map-data state="WV" class="ten" color="#068B96">
            <p>West Virginia</p>
            <p>$26,498</p>
        </map-data>
        <map-data state="WI" class="ten" color="#05656E">
            <p>Wisconsin</p>
            <p>$37,994</p>
        </map-data>
        <map-data>
        </map-data>
    </us-map>
    <br>
    <br>
    <br>
    <div class="col s8 offset-s2">The map reflects the average annual cost to taxpayers per inmate for the forty states that participated in the survey. Totals were updated in 2012. Estimates are provided by the <a href="https://www.vera.org/publications/the-price-of-prisons-what-incarceration-costs-taxpayers" target="_blank">Vera Institute.</a></div>
<br>
<br>
<br>
</div>
</div>
    <div class="row">
      <div class="col s5 offset-l1">
        <div class="hoverable card-panel cyan darken-3">
        <h6 class="center-align white-text">A word from the Vera Institute...</h6>

          <p>The Vera Institute reminds us that comparing states' per inmate cost should be avoided. Lower expenses may lead to poorer outcomes in terms of safety and recidivism.</p>
        </div>
      </div>
      <div class="col s5">
        <div class="hoverable card-panel cyan darken-3">
          <h6 class="white-text">The Vera Institute:</h6>
          <p>Ways to lower spending without reducing public safety include: modifying sentencing and release policies, strengthening strategies to reduce recidivism, and boosting operating efficiency.</p>
        </div>
      </div>
    </div>
