
<div class="row" id="navOne">
  <div class="navbar-fixed">
    <nav id="navTwo">
      <div class="nav-wrapper">
        <a id="navThree" href="#" class="black-text flow-text">Data Rate</a>
          <ul id="main-nav" class="right hide-on-med-and-down center-align">
            <li><a class="navFour" href="#!/">Home</a></li>
            <li><a class="navFour" href="#!/about">About the Project</a></li>
            <li><a class="navFour" href="#!/correctionspopulation">Corrections Population</a></li>
            <li><a class="navFour" href="#!/prisons">Prisons</a></li>
          </ul>
      </div>
    </nav>
  </div>
</div>
